bagpy

# rosbag --extra-index-url https://rospypi.github.io/simple/
# pycryptodome # I don't think this is needed...
pycryptodomex
rospkg

wheel
gnupg

# For datanalysis and pretty boxplot
seaborn
pandas
