# Install the basic requirements
# .requirements.txt

# For pretty plotting
seaborn

# Plus the additional libraries
ipython

# Code testing
pytest


# Code check
pre-commit
black


# Matlab -> for comparison scripts (VFH)
# First run
# $ cd "matlabroot\extern\engines\python"
# $ python -m pip install .

# Rosbage evalution
bagpy
